<!DOCTYPE html>
<html>
  <head>
    <title>EvenTide</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:100|Montserrat:100|Open+Sans+Condensed:300|Open+Sans|PT+Sans+Narrow|Artifika|Ubuntu" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.staticImages = {
    	  logo: "<%= asset_url "logo.svg" %>"
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
