<!DOCTYPE html>
<html>
  <head>
    <title>Rewel Garcia</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Exo+2:100|Montserrat:100|Open+Sans+Condensed:300|Open+Sans|PT+Sans+Narrow|Artifika|Ubuntu" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.staticImages = {
    	  logo: "<%= asset_url "logo.svg" %>"
      }
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<!--

            ______ _____ _    _ _____ _           _____ _____
            | ___ \  ___| |  | |  ___| |         |_   _|  _  |
            | |_/ / |__ | |  | | |__ | |           | | | | | |
            |    /|  __|| |/\| |  __|| |           | | | | | |
            | |\ \| |___\  /\  / |___| |____  _   _| |_\ \_/ /
            \_| \_\____/ \/  \/\____/\_____/ (_)  \___/ \___/


If you're reading this HIRE ME! :)

https://www.linkedin.com/in/rewelgarcia
https://www.github.com/ntuzer

This website was built using React Redux and Ruby on Rails.

-->


  </head>

  <body>
    <%= yield %>
  </body>
</html>
